body{
    margin: 0;
}
.container{
    width: 760px;
    margin: auto;
    /* background-color: orange; */
}

.menu-bar{
    width: 100%;
    background-color: seagreen;
    display: flex;
}

.logo{
    width: 20%;
    height: 60px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}
.menu{
    width: 80%;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
}
.menu ul li a{
    display: block;
    padding: 18px;
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: pink;
    background-color: rgba(127, 255, 212, 0.148);
    height: 45%;
}
.img-box{
    width: 100%;
    height: 340px;;
}
.img-box img{
    width: 100%;
    height: 360px;
    /* object-fit: cover; */
}
.footer{
    width: 100%;
    height: 100px;
    background-color: seagreen;
}
.footer h2{
    text-align: center;
    color: white;
    padding-top: 20px;
}
