.body{
    margin: 0;
}
.container{
    width: 760px;
    margin: auto;
    padding: 18px;
    background-color: white;
    box-shadow: 1px 1px 8px black ;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.item-box{
    width: 100%;
    height: 250px;
    background-color: black;
    display: flex;
}
.img-box{
    width: 39%;
    height: 100%;
    background-color: rgb(81, 241, 164);
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-box{
    width: 61%;
    height: 100%;
    background-color: brown;
}
.text-box h3{
    text-align: center;
    font-weight: 400;
    color: aquamarine;
}
.text-box p{
    text-align: center;
    color: white;
}
.item-container-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 6px;
}
.item-box-2{
    width: 24.5%;
    height: 200px;
    background-color: brown;
}

.item-box-2 img{
    width: 100%;
    height: 60%;
}

.item-box-2 h6{
    margin: 0;
    font-weight: 200;
    color: white;
    text-align: center;
}
.item-box-2 p{
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: aquamarine;
}

.menu-bar{
    background-color: seagreen;
}
.menu-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu-bar ul li a:hover{
    color: salmon;
    transition: 2s;
}

.left-menu{
    width: 280px;
    padding: 15px;
    background-color: salmon;
}
.left-menu ul{
    margin: o;
    padding: 0;
    list-style-type: none;
}
.left-menu ul li a {
    display: block;
    padding: 18px;
    text-decoration: none;
}
.left-menu ul li a:hover{
   background-color: aquamarine;
}

