.container{
    width: 760px;
    margin: auto;
    background-color: green;
    overflow: hidden;
    padding: 20px;
}

.box1{
    width: 760px;
    height: 80px;
    background-color: aquamarine;
}
.box2{
    width: 560px;
    height: 500px;
    background-color: pink;
    margin-top: 10px;
    float: left;
}
.box3{
    width: 190px;
    height: 500px;
    background-color: rgb(233, 130, 70);
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.box4{
    width: 760px;
    height: 90px;
    background-color: rgb(4, 6, 59);
    float: left;
    margin-top: 10px;
}